.product{
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items:center;
     color: hotpink;

}

input{
    border: 1px solid;
    padding:5px;
  border-radius:10px;
}